@use "../styles/abstracts/mixins" as *;
@use "../styles/abstracts/variables" as *;

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: $neutral-light-0;
  max-width: 34.3rem;
  width: 100%;
  padding: 3.2rem 2rem;
  border-radius: $radius-12;
  .logo {
    margin-bottom: 3.2rem;
  }
  @media screen and (min-width: 768px) {
    max-width: 44.8rem;
    padding: 4rem 3.2rem;
  }
}
