@import url("../../assets/css/variables.css");

.base-components-container {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-250);
}
