:root {
  /* Colors */
  --neutral-light-900: #051513;
  --neutral-light-800: #4c5c59;
  --neutral-light-500: #899492;
  --neutral-light-400: #c0cfcc;
  --neutral-light-300: #dde9e7;
  --neutral-light-100: #e8f0ef;
  --neutral-light-0: #ffffff;

  --neutral-dark-900: #001414;
  --neutral-dark-800: #001f1f;
  --neutral-dark-600: #002e2d;
  --neutral-dark-500: #004241;
  --neutral-dark-400: #004746;
  --neutral-dark-300: #00706e;
  --neutral-dark-100: #b1b9b9;
  --neutral-dark-0: #ffffff;

  --teal-700: #014745;
  --teal-800: #013c3b;

  --red-600: #fd4740;
  --red-800: #cb0a04;

  --spacing-0: 0;
  --spacing-025: 0.2rem;
  --spacing-050: 0.4rem;
  --spacing-075: 0.6rem;
  --spacing-100: 0.8rem;
  --spacing-125: 1rem;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-250: 2rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-800: 6.4rem;
  --spacing-1000: 8rem;
  --spacing-1200: 9.6rem;
  --spacing-1400: 11.2rem;
  --spacing-1600: 12.8rem;
  --spacing-1800: 14rem;
  --radius-0: 0;
  --radius-4: 0.4rem;
  --radius-6: 0.6rem;
  --radius-8: 0.8rem;
  --radius-10: 1rem;
  --radius-12: 1.2rem;
  --radius-16: 1.6rem;
  --radius-20: 2rem;
  --radius-24: 2.4rem;
  --radius-full: 99.9rem;
}
