@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.sidebar {
  background: $neutral-light-0;
  width: 29.6rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 0.1rem solid $neutral-light-300;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  padding: $spacing-250;
  .closeBtn {
    top: $spacing-075;
    right: $spacing-075;
    position: absolute;
    padding: $spacing-125 $spacing-150;
    cursor: pointer;
    @include text-preset-3;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-100;

    transition:
      background 0.2s ease,
      transform 0.1s ease;
  }
}

.sidebarContent {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: 4.7rem;
}

.navListContainer {
  padding-left: $spacing-200;
  padding-right: $spacing-200;
}

.navLink {
  display: flex;
  align-items: center;
  gap: $spacing-100;
  width: 100%;
  padding: $spacing-100 $spacing-150;
  text-decoration: none;
  span {
    @include text-preset-3;
    color: $neutral-light-800;
  }
}

.tagsContainer {
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  margin-top: $spacing-200;

  header {
    margin-bottom: $spacing-050;
    h6 {
      @include text-preset-5(bold);
      color: #4d2d2d;
    }
  }
  .tagListItem {
    display: flex;
    align-items: center;
    padding: $spacing-100 0;
    margin-bottom: 0.2rem;
    label {
      display: flex;
      align-items: center;
      gap: $spacing-100;
      @include text-preset-3;
    }
    justify-content: space-between;

    .badge {
      padding: $spacing-025 $spacing-100;
      @include text-preset-5;
      color: $neutral-light-800;
      background: $neutral-light-100;
      border-radius: $radius-full;
      border: 0.1rem solid $neutral-light-300;
    }
  }
}

// States
.active {
  background: $neutral-light-100;
  border: 0.1rem solid $neutral-light-100;
  border-radius: $radius-6;
}

.open {
  transform: translateX(0);
}
